@import '../../App.scss';

.outputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0;
    width: 100%;
}


.outputTitle {
    font-family: $mainTitle;
    font-weight: 700;
    text-align: center;
    font-size: .8em;
    margin: 0 auto;
}

.outputCity {
    font-family: $mainTitle;
    font-weight: 700;
    text-align: center;
    font-size: 1.5em;
    margin: 0.2em;
}

.outputResult {
    font-family: $text;
    text-align: center;
    margin: 0.2em;
    color: #ffffff;
}

.outputDesc {
    font-family: $text;
    text-align: center;
    font-size: 1em;
    margin-bottom: 1.5em;
}

.outputDatas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
}

  
.outputData {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1em;
    padding: 0 0.4em;
    max-width: 33%;
}
/* 
.icon {
    width: 8em;
} */

.fontIcon {
    font-size: 12em;
    text-align: center;
    height: 25vh;
    margin-bottom: 2rem;
}
    
.forecasts {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #38383846;
    border-radius: 1em;
    margin-top: 1.5em;
    
    i {
        font-size: 1.5em;
    }
}
.forecast {
    font-weight: 700;
    margin: .9em;
    max-width: 33%;
}

.future {
    font-size: 0.6em;
    font-family: $mainTitle;
    margin-bottom: 0.4em;
}


.toogleDegrees {
    font-size: 1em;
    font-family: $mainTitle;
}

@media only screen and (max-width: 400px) {
    .outputTitle, .future {
        font-size: 0.7em;
    }
  }
