@import '../../App.scss';

.outputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0;
    width: 80%;
}


.outputTitle {
    font-family: $mainTitle;
    font-weight: 700;
    text-align: center;
    font-size: 1.3em;
}


.outputCity {
    font-family: $mainTitle;
    font-weight: 700;
    text-align: center;
    font-size: 2em;
    margin: 0.2em;
}

.outputResult {
    font-family: $text;
    text-align: center;
    font-size: 0.9em;
    margin: 0.2em;
    color: #ffffff;
}

.outputDesc {
    font-family: $text;
    text-align: center;
    font-size: 1.3em;
    margin-bottom: 2em;
}

.outputDatas {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1em;
}

  
.outputData {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
    flex-grow: auto;
    padding: 0 2em;

    p {
        font-size: 0.8em;
    }
}
/* 
.icon {
    width: 8em;
} */

.fontIcon {
    font-size: 12em;
    text-align: center;
}
    
.forecasts {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.forecast {
    padding: 1em;
    font-weight: 700;
    margin-top: 2em;
    padding: 0 2em;
}

.nextTemp {
    font-size: 0.5;
    font-family: $text;

    i {
        font-size: 3em;
    }
}

