@import '../../App.scss';

.outputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0;
    width: 100%;
}


.outputTitle {
    font-family: $mainTitle;
    font-weight: 700;
    text-align: center;
    font-size: 1em;
    margin: 0 auto;
}

@media only screen and (max-width: 800px) {
    .outputTitle {
        font-size: 0.9em;
    }
  }

.outputCity {
    font-family: $mainTitle;
    font-weight: 700;
    text-align: center;
    font-size: 2em;
    margin: 0.2em;
}

.outputResult {
    font-family: $text;
    text-align: center;
    margin: 0.2em;
    color: #ffffff;
}

.outputDesc {
    font-family: $text;
    text-align: center;
    font-size: 1em;
    margin-bottom: 2em;
}

.outputDatas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;

}

  
.outputData {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.9em;
    padding: 0 0.4em;
    max-width: 33%;
}
/* 
.icon {
    width: 8em;
} */

.fontIcon {
    font-size: 12em;
    text-align: center;
    height: 25vh;
}
    
.forecasts {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: fontSizeRes;
    background-color: rgba(0, 0, 0, 0.185);
    border-radius: 2em;
    margin-top: 1em;
    
    i {
        font-size: 1.5em;
    }
}


.forecast {
    font-weight: 700;
    margin: 1em;
    max-width: 33%;
}

.future {
    font-size: 0.7em;
    font-family: $mainTitle;
    margin-bottom: 0.6em;
}

/////

// $width: 2em;
// $padding: 0.3em;
// $height: $width / 2 + $padding;

// //toggle code begins!
// .switchWrap {
//     margin: 2em;
//   cursor: pointer;
//   background: #15273b;
//   padding: $padding;
//   width: $width;
//   height: $height;
//   border-radius: $height / 2;
//   input {
//     position: absolute;
//     opacity: 0;
//     width: 0;
//     height: 0;
//   }
// }
// .switch {
//   height: 100%;
//   display: grid;
//   grid-template-columns: 0fr 1fr 1fr;
//   transition: .2s;
//   //ICYMI, pseudo elements are treated as grid items
//   &::after {
//     content: '';
//     border-radius: 50%;
//     background: #ccc;
//     grid-column: 2;
//     transition: background .2s;
//   }
// }
// input:checked {
//   + .switch {
//     grid-template-columns: 1fr 1fr 0fr; 
//     &::after {
//       background-color: #52cf71;
//     }
//   }
// }