@import '../../App.scss';

.header {
    width: 80%;
    /* background-color: #eeeeee48;
    border-radius: 3em;
    padding: 1em; */
}

.title {
    font-size: 2em;
    font-family: $mainTitle;
    text-align: center;
    margin: 0 auto;
}

.subtitle {
    font-size: 1.2em;
    margin: 1em auto;
    font-family: $mainTitle;
}

.logo {
    font-size: 6em;
    margin: 0.3em auto;
    position: relative;
    left: 0.2em;
}
