
$sun: #ffd900;
$rain: rgb(96, 189, 20);
$drizzle: rgb(6, 159, 159);
$thunder: #1d1163;
$snow: #838eb9;
$clouds: #2d6fc0;
$haze: #d42240;
$mist: #961484;
$smoke: #4e4146;
$dust: #f38e0b;
$fog: #236d84;

$mainTitle: 'Arvo', serif;
$title: 'Heebo', sans-serif;
$text: 'Roboto', sans-serif;

$fontSizeRes: calc(1.5em + 1vw);

@mixin gradient($start-color, $end-color, $orientation) {
  background: $start-color;
  @if $orientation == 'vertical' {
    background: -webkit-linear-gradient(top, $start-color, $end-color);
    background: linear-gradient(to bottom, $start-color, $end-color);
  } @else if $orientation == 'horizontal' {
    background: -webkit-linear-gradient(left, $start-color, $end-color);
    background: linear-gradient(to right, $start-color, $end-color);
  } @else {
    background: -webkit-radial-gradient(center, ellipse cover, $start-color, $end-color);
    background: radial-gradient(ellipse at center, $start-color, $end-color);
  }
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 1em;
  @include gradient($sun, $mist, vertical);
  //background-color: $drizzle;
  //background: linear-gradient(0deg, rgb(66, 61, 160) 0%, rgba(0,212,255,1) 100%);
  color: white;
  min-height: 100vh;

  &.sun{ @include gradient($sun, #f57106, vertical); }
  &.rain { @include gradient($rain, #0f440e, vertical); }
  &.drizzle { @include gradient($drizzle, #053eb9, vertical); }
  &.thunder { @include gradient($thunder, #010411, vertical); }
  &.snow { @include gradient($snow, #8906f5, vertical); }
  &.clouds { @include gradient($clouds, #221f1d, vertical); }
  &.haze { @include gradient($haze, #1f0419, vertical); }
  &.mist { @include gradient($mist, #110420, vertical); }
  &.smoke { @include gradient($smoke, #251a23, vertical); }
  &.dust { @include gradient($dust, #4d1606, vertical); }
  &.fog { @include gradient($fog, #090631, vertical); }

}


@media only screen and (min-width: 800px) {
  .App {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

.left {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.right {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}