.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: rgb(140,138,180);
  background: linear-gradient(0deg, rgb(66, 61, 160) 0%, rgba(0,212,255,1) 100%);
  color: white;
  height: 100vh;
}
@media only screen and (max-width: 600px) {
  .App {
    font-size: calc(0.5em + 1vmin);;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.firstScreen {
  display: flex;
  flex-direction: column;
  width: 80%;
  background-color: #eeeeee48;
  border-radius: 3em;
  padding: 1em;
}
